*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: "fira code";
    background-color: rgb(30, 30, 30);
    height: auto;
}

header .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

header h1{
    color: rgb(91, 143, 112);
}
header span, a{
    color: rgb(255, 255, 255);
}

main .container{
    position: relative;
}

main .container, .card{

    margin: auto;

    width: 500px;
    height: 400px;
    background-color: white;
    border-bottom: 20px solid rgb(91, 143, 112);
    border-radius: 10px;
}

main .add{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

main .add input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgb(91, 143, 112);
    padding: 10px;
    transition: background 0.5s, color 0.5s;
}

main .add input:focus{
    background-color: rgba(91, 143, 112, 0.250);
}

main .add button{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgb(91, 143, 112);
    background-color: rgb(91, 143, 112);
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    transition: background 0.5s, border 0.5s;
}

main .add button:hover{
    border: 2px solid rgb(71, 114, 88);
    background-color: rgb(71, 114, 88);
}

main .list{
    border-bottom: 2px solid rgb(91, 143, 112);
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    width: 350px;
    margin: auto;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
}

main .list label{
    margin-top: 5px;
}

main .btns img{
    width: 24px;
    margin-top: 5px;
    cursor: pointer;
}